body {
    color: #656565;
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    color: #1dbf73;
    transition: 0.3s;
}

a:hover,
a:active,
a:focus {
    color: #353535;
    outline: none;
    text-decoration: none;
}

p {
    color: #656565;
    padding: 0;
    margin: 0 0 15px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #353535;
    margin: 0 0 15px 0;
    padding: 0;
}

h4,
h5,
h6 {
    font-weight: 400;
}

/* header */

nav{
    background: linear-gradient(rgba(0, 0, 0, 0.679), rgba(0, 0, 0, 0.679));
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
   
}
.homeli{
    color: #1dbf73;
}
.homeli:hover{
    color: #ffffff;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
    width: 47%;
    gap: 25px;
    list-style: none;
    font-weight: 600;
    padding-right: 85px;
    
}
nav a{
    text-decoration: none;
    color: #ffffff;
}
nav a:hover{
    color: #1dbf73
}
nav .logo{
    letter-spacing: 5px;
    font-size: 2.1rem;
    padding-left: 30px;
    padding-top: 10px;
}
.list1{
    color: #1dbf73;
}
select{
    border: none;
    background-color: transparent;
    color: #ffffff;
    outline: none;
    font-weight: 600;
    width: 110px;
}
select:hover{
    color: #1dbf73;
}
option{
    color: #000000;
}
.img1{
    background: linear-gradient(rgba(0, 0, 0, 0.679), rgba(0, 0, 0, 0.679)), url(./images/image1.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 100vh;
}
.img2{
    background: linear-gradient(rgba(0, 0, 0, 0.679), rgba(0, 0, 0, 0.679)), url(./images/image2.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 100vh;
}
.img3{
    background: linear-gradient(rgba(0, 0, 0, 0.679), rgba(0, 0, 0, 0.679)), url(./images/image3.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 100vh;
}
.contentcar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.contentcar{
    text-align: center;
    position: relative;
    top: 35vh;
}

.contentcar h2 {
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 1px;
}

.contentcar p {
    width: 60%;
    margin: 0 auto 30px auto;
    color: #ffffff;
}

.contentcar a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
    font-size: 16px;
    background-color: #1dbf73;
    height: 45px;
    width: 180px;
    padding: 10px 10px;
}
.contentcar a:hover{
    background-color: #ffffff;
}
.contentcar a:hover{
    color: #1dbf73;
}
.contentcar a:hover{
    border: 1px solid #1dbf73;
}
.about{
 padding: 60px 27.5vh;
 background: #f2f2f2;
   
}
.about1{
   text-align: center;
   padding-bottom: 20px;
}
span{
  font-weight: bold;  
  counter-reset: black;
  font-size: 35px;
  line-height: 10px;
}
.about1 span{
    position: relative;
    bottom: 13px;
}
.about1 p{
    padding:10px 39vh;
}
.about2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-left: 3px;
}
.details h2{
    color: #1dbf73;
}
.details a{
    background-color: #1dbf73;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 15px;
    font-size: 13px;
}
.details p{
    padding-bottom: 10px;
}
.details a:hover{
    background-color: black;
    color: #ffffff;
}
.specs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 15px 0;
}
.specslist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    background-color: #ffffff;
    width: 350px;
}
.specslist h5{
    font-weight: bold;
    position: relative;
    bottom: 20px;
}
.specslist p{
    font-size: 14px;
    position: relative;
    bottom: 25px;
    padding: 5px 25px;
}
.specslist .icon{
    position: relative;
    bottom: 30px;
    border-radius: 50px;
    border: 4px solid #ffffff;
}
.specslist .spec-btn{
    background-color: #1dbf73;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 15px;
    font-size: 13px;
    position: relative;
    bottom: 30px;
}
.list1:hover .one{
    background-color: black;
    color: #ffffff;
}
.list2:hover .two{
    background-color: black;
    color: #ffffff;
}
.list3:hover .three{
    background-color: black;
    color: #ffffff;
}
.specslist:hover{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.specslist:hover .icon{
   
    border: 4px solid #00000076;
}
.Services{
    padding: 60px 220px;
    
}
.serhead{
    h2{
        letter-spacing: 3px;
    }
    p{
        padding: 10px 29vh;
    }
    text-align: center;
    span{
        position: relative;
        bottom: 13px;
    }
}
.servlist{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 5vh;
    padding-top: 20px;
}
.listitems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: #ffffff;
    width: 350px;
    text-align: center;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 43.5vh;
    background-color:#1dbf73;
    padding: 15.5vh 0;
    h2{
        color: #ffffff;
        padding: 0 400px;
        text-align: center;
    }
    p{
        color: #ffffff;
        padding: 0 400px;
        text-align: center;
        padding-bottom: 30px;
    }    
    a{
        color: #1dbf73;
        text-decoration: none;
        padding: 7px 30px;
        background-color: #ffffff;
        border: 1px solid #1dbf73;
        font-size: 1.1rem;
        text-transform: uppercase;
        
    }
}
.banner a:hover{
    background-color: black;
    color: #ffffff;
}
.banner span{
    position: relative;
    bottom: 13px;
    color: #fff;
}
.pricecontainer{
    background: #f2f2f2;
    padding-top: 60px;
    padding-bottom: 80px;
}
.pricehead{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    h2{
        color: #000000;
        padding: 0 400px;
        text-align: center;
    }
    p{
        color: #353535;
        padding: 0 400px;
        text-align: center;
        padding-bottom: 30px;
    }  
    span{
        position: relative;
        bottom: 13px;
        color: #000000;
    }  
}
.pricerow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 15px 0;
}
.pricelists{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 65vh;
    background-color: #ffffff;
    ul{
        list-style: none;
        padding-top: 35px;
        padding-bottom: 15px;
    }
    i{
        font-size: 15px;
        padding-right: 5px;
    }
    .green{
        color: #1dbf73;
    }
    .red{
        color: orangered;
    }
    li{
        padding-bottom: 7px;
    }
}
.pricelists:hover{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.price-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:rgb(57, 57, 57) ;
    width: 350px;
    padding-top: 15px;
    h3,h2,p{
        color: #ffffff;
    }
    h3,h2{
        font-weight: 400;
    }
    p{
        font-size: 12px;
    }
    
}
.pricelists a{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    background-color: rgb(57, 57, 57);
    height: 45px;
    width: 140px;
    padding: 10px 29px;
    margin-bottom: 60px;
    
}
.pricelists a:hover{
    background-color: #1dbf73;
}
.price1{
    position: relative;
    top: 30px;
}
.price{
    .price-cont{
        background: #1dbf73;
    }

}
.price{
    a{
        background-color:#1dbf73;
        color: #ffffff;
    }
    a:hover{
        background-color: #353535;
    }
}
.skillscontainer{
    background: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;
}
.skillhead{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    h2{
        color: #000000;
        padding: 0 400px;
        text-align: center;
    }
    p{
        color: #353535;
        padding: 0 400px;
        text-align: center;
        padding-bottom: 30px;
    }  
    span{
        position: relative;
        bottom: 13px;
        color: #000000;
    }  
}
.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
    bottom: 85px;
}
.html{
    display: flex;
    padding:0 18px;
    padding-top: 15px;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #28a745;
    width: 73vw;
    font-size: 13px;
}
.html p{
    color: #ffffff;
}
.css{
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #a7a7a73d;
    width: 73vw;
    font-size: 13px;
}
.css p{
    color: #ffffff;
    
    
}
.css span{
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    padding-top: 15px;
    height: 30px;
    width: 66vw;
    background-color: #17a2b8;
}
.jquery{
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #a7a7a73d;
    width: 73vw;
    font-size: 13px;
}
.jquery p{
    color: #ffffff;
    
    
}
.jquery span{
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    padding-top: 15px;
    height: 30px;
    width: 59vw;
    background-color: #ffc107;
}
.php{
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #a7a7a73d;
    width: 73vw;
    font-size: 13px;
}
.php p{
    color: #ffffff;
    
    
}
.php span{
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    padding-top: 15px;
    height: 30px;
    width: 51vw;
    background-color: #dc3545;
}
.skills span{
    font-weight: 100;
}
.showcase{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 130px;
    position: relative;
    bottom: 20px;
}

.cases h1{
    font-size: 3.2rem;
    color: #1dbf73;
    line-height: 3rem;
}
.cases p{
    font-size: 20px;
    color:#000000d1;
}
.port-con{
    background: #f2f2f2;
    padding-top: 60px;
    padding-bottom: 60px;
}
.porthead{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    h2{
        color: #000000;
        padding: 0 400px;
        text-align: center;
    }
    p{
        color: #353535;
        padding: 0 400px;
        text-align: center;
        padding-bottom: 30px;
    }  
    span{
        position: relative;
        bottom: 13px;
        color: #000000;
    }  
}
.portdet UL{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.portdet li{
    padding: 10px 20px;
    font-size: 0.8rem;
    color: #fff;
    background-color:#333232;
}
.portdet li:hover{
    background-color: #1dbf73;
}
.portdet .frtli{
    background-color: #1dbf73;
}
.gallr{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;

}

.prtimg1{
    background: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.384)),url(./images/portfolio-1.jpg);
    
}
.prtimg2{
    background: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.384)),url(./images/portfolio-2.jpg);
    
}
.prtimg3{
    background: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.384)),url(./images/portfolio-3.jpg);
}
.prtimg4{
    background: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.384)),url(./images/portfolio-4.jpg);
}
.prtimg5{
    background: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.384)),url(./images/portfolio-5.jpg);
}
.prtimg6{
    background: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.384)),url(./images/portfolio-6.jpg);
}
.prtimg1,.prtimg2,.prtimg3,.prtimg4,.prtimg5,.prtimg6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    height: 230px;
    width: 350px;
    p{
        color: #ffffff;
        font-size: 0.8rem;
    }
    h4{
        color: #ffffff;
        font-size: 1.2rem;
        font-weight: 600;
    }
}
.contact{
    padding-top: 40px;
    padding-bottom: 60px;
    background: #f2f2f2;
}
.contacthead{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    h2{
        color: #000000;
        padding: 0 400px;
        text-align: center;
    }
    p{
        color: #353535;
        padding: 0 400px;
        text-align: center;
        padding-bottom: 30px;
    }  
    span{
        position: relative;
        bottom: 13px;
        color: #000000;
    }  
}
.conttypes{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;

}
.contype{
    background: #fff;
    height: 150px;
    width: 270px;
    padding-top: 20px;
    p{
        color: #000000;
        font-weight: 200;
    }
}
.contype h6{
    font-weight: 900;
    font-size: 0.9rem;
    
}
.locat{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 30px;
}
fieldset{
    height: 350px;
    width: 420px;
    background-color: #fff;
    padding: 25px 25px;
}
form{
    display: flex;
    flex-direction: column ;
    gap: 20px;
    
    div{
        display: flex;
        gap: 20px;
        input{
            width: 175px;
            
        }
    }
    input{
        border-color:#65656541;
    }
    textarea{
        height: 135px;
        border-color: #65656541;
    }
    button{
        width: 185px;
        padding: 10px 10px;
        border:none;
        background: #1dbf73;
        color: #fff;
        margin-left: 185px;
    }
}